<ion-header>
  
</ion-header>

<ion-content class="ion-padding ion-text-center" >
  <img src="/codeswage-demo/src/assets/mathu-fellows-logo_final.png" alt="logo" class="logo" >

  <div class="title">
    <h2>Welcome</h2>
    <p>Enjoy the Code Crafts App</p>
  </div>

  <div class="ion-margin-top">
    <ion-button expand="block" class="ion-margin-top" fill="solid" color="white">SIGN UP</ion-button>
    <ion-button expand="block" class="ion-margin-top" fill="outline" color="white" (click)="login1()">LOGGIN</ion-button>
  </div>
</ion-content>
