<ion-header>
  <ion-toolbar>
    <ion-title>login - Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="title">
    <h4>Login</h4>
    <p>Let's get started</p>
  </div>

  <ion-input placeholder="Username" class="primary-input"></ion-input>
  <ion-input placeholder="Password" type="password" class="primary-input"></ion-input>
    
  <div class="ion-margin ion-text-right forget">
    <a>Forget Password?</a>
  </div>

  <div class="ion-margin-top ion-text-center">
    <ion-button expand="block" (click)=logMeIn()>Login</ion-button>
  </div>

  <div class="ion-margin-top ion-text-center">
    <ion-button expand="block" (click)="dismiss()">Back</ion-button>
  </div>
  
</ion-content>
