<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      codeswage.co.uk
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="/codeswage-demo/src/assets/mathu-fellows-logo_final.png" alt="mathu-fellows-logo_final">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Demo</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Custom Text
    </ion-card-content>
  </ion-card>
  
</ion-content>
